.containerStyle {
  background-color: rgba(21, 68, 58, 0.808);
  height: 527px;
  margin-top: 1px;
  margin-bottom: 1px;
  /* margin-right: 5px;
  margin-left: 5px; */
  padding-top: 5px;
  /* padding-right: 1px; */
  padding-bottom: 5px;
  /* padding-left: 1px; */
}

.navbarStyle {
  padding-top: 5px;
  /* padding-right: 1px; */
  padding-bottom: 5px;
}

.buttonstyle {
  width: -webkit-fill-available !important;
}
